.inpContainer {
  flex-direction: column;
  max-width: 952px;
}
.input {
  max-width: 204px;
}

.container {
  display: flex;
  column-gap: 12px;
}

.ul {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  list-style: none;
  padding: 0;
  max-width: 1040px;
  margin: 90px auto 0;
  flex-wrap: wrap;
}

.li {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.circleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

/* .lowerCircle {
  margin-top: 150px;
  position: fixed;
}

.upperCircle {
  margin-top: 150px;
  position: fixed;
} */
